<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    <div class="jumbotron">
        <h2>Приложение для заучивания определений на разных языках</h2>
        <p>Тут находится статистика обучения</p>
    </div>
    <p><?= "Super duper string" ?></p>
    <p><?= DoStuff() ?></p>
    <p>This is learn page</p>
    {{>scripts}}
  </body>
</html>