<div class="tile is-ancestor is-vertical">
    <form>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input is-fullwidth" type="text" placeholder="Термин" id="searchTerm">
            </div>
            <div class="control">
                <a class="button is-info"><span><i class="fa fa-search"></i></span> Найти</a>
            </div>
        </div>
        <div class="tile is-parent is-12">
            <p class="tile is-child is-1">Темы:</p>
            <div class="tile is-child" id="choosen-themes">
                <span class="tag is-link is-medium">
                    World
                    <button class="delete"></button>
                </span>
                <span class="tag is-link is-medium">
                    stuff
                    <button class="delete"></button>
                </span>
            </div>
            <div class="class is-child is-2">
                <div class="field">
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa fa-plus"></i>
                        </span>
                        <div class="select">
                            <select>
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-12">
            <p class="tile is-child">Языки:</p>
            <div class="tile is-child" id="choosen-themes">
            </div>
            <div class="class is-child is-2">
                <div class="field">
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa fa-plus"></i>
                        </span>
                        <div class="select">
                            <select>
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box" id="search-result">
    <div class="box level">
        <div class="level-left">
            <div class="level-item">Термин</div>
        </div>
        <div class="level-right">
            <div class="level-item"><a class="button is-danger">Удалить</a></div>
            <div class="level-item"><a class="button is-warning">Редактировать</a></div>
            <div class="level-item"><a class="button is-success">Добавить перевод</a></div>
        </div>
    </div>
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination" id="search-paginate">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
</nav>