<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right" id="pageContent"></div>
    </div>
    {{>scripts}}
    <script>{{{code}}}</script>
  </body>
</html>