<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    <div class="container" id="pageContent"></div>
    {{>scripts}}
    <script>{{{code}}}</script>
  </body>
</html>