<nav class="navbar is-primary is-mobile" role="navigation" aria-label="dropdown navigation">
  <a class="navbar-item">Термины</a>
  <div class="navbar-item has-dropdown navbar-end" id="navbar-dropdown">
    <a class="navbar-link" id="navbar-button">
      Статистика
    </a>
    <div class="navbar-dropdown">
      <a class="navbar-item" id="stat-nav">
        Статистика
      </a>
      <a class="navbar-item" id="dict-nav">
        Словари
      </a>
      <a class="navbar-item" id="learn-nav">
        Учить
      </a>
    </div>
  </div>
</nav>