<nav class="navbar navbar-dark bg-primary navbar-expand-md">
    <a href="?" class="navbar-brand">Terms</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="?menu=lang" class="nav-link">Языки</a>
            </li>
            <li class="nav-item">
                <a href="?menu=dict" class="nav-link">Словари</a>
            </li>
            <li class="nav-item">
                <a href="?menu=learn" class="nav-link">Учить</a>
            </li>
        </ul>
    </div>
</nav>
