<div class="columns is-desktop">
  <div class="column is-one-quater">
    <nav class="panel">
      <p class="panel-heading">
        Словари
      </p>
      <a class="panel-block active">Немецкий</a>
      <div class="panel-block">
        <button class="button is-link is-fullwidth is-success">
          Добавить
        </button>
      </div>
    </nav>
  </div>
  <div class="column">
    <div class="tabs is-boxed">
      <ul>
        <li class="is-active">
          <a>
            <span class="is-icon is-small"><i class="fa fa-search" aria-hidden="true"></i></span>
            <span>Просмотр терминов</span>
          </a>
       </li>
        <li>
          <a>
            <span class="is-icon is-small"><i class="fa fa-language" aria-hidden="true"></i></span>
            <span>Языки</span>
          </a>
        </li>
        <li>
          <a>
            <span class="is-icon is-small"><i class="fa fa-hashtag" aria-hidden="true"></i></span>
            <span>Темы</span>
          </a>
        </li>
        <li>
          <a>
            <span class="is-icon is-small"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>
            <span>Добавить термин</span>
         </a>
        </li>
      </ul>
    </div>
    <section class="section is-paddingless">
      <div class="container">
        Тут будет инфа
      </div>
    </section>
  </div>
</div>