<!doctype html>
<html lang="en">
  <head>
    <title>Термины</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <a href="?" class="navbar-brand">Terms</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="?menu=lang" class="nav-link">Языки</a>
                </li>
                <li class="nav-item">
                    <a href="?menu=dict" class="nav-link">Словари</a>
                </li>
                <li class="nav-item">
                    <a href="?menu=learn" class="nav-link">Учить</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Приложение для заучивания определений на разных языках</h2>
        <p>Тут находится статистика обучения</p>
    </div>
    <p><?= "Super duper string" ?></p>
    <p><?= DoStuff() ?></p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>console.log("super duper scripts");
</script>
  </body>
</html>