<!doctype html>
<html lang="en">
  <head>
    <title>Термины</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar is-primary is-mobile" role="navigation" aria-label="dropdown navigation">
      <a class="navbar-item">Термины</a>
      <div class="navbar-item has-dropdown navbar-end" id="navbar-dropdown">
        <a class="navbar-link" id="navbar-button">
          Статистика
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" id="stat-nav">
            Статистика
          </a>
          <a class="navbar-item" id="dict-nav">
            Словари
          </a>
          <a class="navbar-item" id="learn-nav">
            Учить
          </a>
        </div>
      </div>
    </nav>    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right" id="pageContent"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var learnManager = (function () {
    var events = {
        setUp: function () {
            console.log("Set up learn");
        },
        turnDown: function () {
            console.log("Turn down learn");
        }
    };
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var dictManager = (function () {
    var events = {
        setUp: function () {
            $("#pepe").click(function (event) {
                console.log("Stuff happens");
            });
        },
        turnDown: function () {
            $("#pepe").unbind("click");
        }
    };
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var LookDict = (function () {
    var currDict;
    var chosenThemes = [];
    var chosenSubjects = [];
    var events = {
        setUp: function (tabPages) {
            $("#look-content").removeClass("is-hidden");
            console.log("Dict lookup setup");
        },
        turnDown: function () {
            console.log("Dict lookup turnDown");
        },
        changeDict: function (dict) {
            console.log("dictionary is" + dict);
            currDict = dict;
        }
    };
    function clean() {
        $("#choosen-themes")[0].innerHTML = "";
    }
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var Sidebar = (function () {
    var currSubs;
    var events = {
        setUp: function (sub) {
            currSubs = sub;
            updateDicts();
        },
        turnDown: function () {
            $(".dict-item").unbind("click");
        }
    };
    function updateDicts() {
        google.script.run.withSuccessHandler(pushDicts).getDictionaries();
    }
    function pushDicts(dicts) {
        var dictNode = $("#dictionaries")[0];
        if (dicts.length > 0) {
            dictNode.innerHTML += "<a class=\"panel-block is-active dict-item\">" + dicts[0] + "</a>";
            for (var i = 1; i < dicts.length; i += 1) {
                dictNode.innerHTML += "<a class=\"panel-block dict-item\">" + dicts[i] + "</a>";
            }
            notifySubs(dicts[0]);
            $(".dict-item").click(changeDict);
        }
    }
    function notifySubs(dict) {
        currSubs.forEach(function (sub) {
            sub(dict);
        });
    }
    function changeDict(event) {
        event.preventDefault();
        $("#dictionaries .is-active").toggleClass("is-active");
        event.target.classList.toggle("is-active");
        notifySubs(event.target.innerText);
    }
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var TabTypes;
(function (TabTypes) {
    TabTypes[TabTypes["lookDict"] = 0] = "lookDict";
    TabTypes[TabTypes["lang"] = 1] = "lang";
    TabTypes[TabTypes["subjects"] = 2] = "subjects";
    TabTypes[TabTypes["editTerms"] = 3] = "editTerms";
    TabTypes[TabTypes["editDict"] = 4] = "editDict";
})(TabTypes || (TabTypes = {}));
var Tabs = (function () {
    var pages;
    var currTab;
    var events = {
        setUp: function (tabPages) {
            pages = tabPages;
            currTab = TabTypes[0];
            hideActiveTab();
            pages.lookDict.setUp();
            $("#lookTab").click(lookCallback);
        },
        turnDown: function () {
            pages[currTab].turnDown();
            $("#lookTab").unbind("click");
        }
    };
    function hideActiveTab() {
        $("#dict-content .content-section:not(.is-hidden)").addClass("is-hidden");
    }
    function nextTab(tabName) {
        pages[currTab].turnDown();
        currTab = tabName;
    }
    function lookCallback(event) {
        hideActiveTab();
        nextTab(TabTypes[0]);
        pages.lookDict.setUp();
    }
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var statManager = (function () {
    var events = {
        setUp: function () {
            console.log("Set up stat");
        },
        turnDown: function () {
            console.log("Turn down stat");
        }
    };
    return events;
})();
/// <reference path="../../../../node_modules/@types/jquery/index.d.ts" />
var Paths;
(function (Paths) {
    Paths[Paths["dict"] = 0] = "dict";
    Paths[Paths["learn"] = 1] = "learn";
    Paths[Paths["stat"] = 2] = "stat";
})(Paths || (Paths = {}));
var dictManager = (function (sidebar, tabs, lookDict) {
    var events = {
        setUp: function () {
            tabs.setUp({
                lookDict: lookDict
            });
            sidebar.setUp([lookDict.changeDict]);
        },
        turnDown: function () {
            sidebar.turnDown();
        }
    };
    return events;
})(Sidebar, Tabs, LookDict);
(function () {
    var currEvents = statManager;
    var content = document.getElementById("pageContent");
    function setContent(template, page) {
        currEvents.turnDown();
        content.innerHTML = template;
        switch (page) {
            case Paths[0]:
                currEvents = dictManager;
                break;
            case Paths[1]:
                currEvents = learnManager;
                break;
            case Paths[2]:
                currEvents = statManager;
                break;
        }
        currEvents.setUp();
    }
    $("#dict-nav").click(function (event) {
        event.preventDefault();
        google.script.run.withSuccessHandler(function (template) {
            setContent(template, Paths[0]);
        }).navigate(Paths[0]);
        $("#navbar-button").text("Словари");
        hideElem("#navbar-dropdown");
    });
    $("#learn-nav").click(function (event) {
        event.preventDefault();
        google.script.run.withSuccessHandler(function (template) {
            setContent(template, Paths[1]);
        }).navigate(Paths[1]);
        $("#navbar-button").text("Учить");
        hideElem("#navbar-dropdown");
    });
    $("#stat-nav").click(function (event) {
        event.preventDefault();
        google.script.run.withSuccessHandler(function (template) {
            setContent(template, Paths[2]);
        }).navigate(Paths[2]);
        $("#navbar-button").text("Статистика");
        hideElem("#navbar-dropdown");
    });
    $("#navbar-button").click(function (event) {
        event.preventDefault();
        hideElem("#navbar-dropdown");
    });
    function hideElem(selector) {
        $(selector).toggleClass("is-active");
    }
    google.script.run.withSuccessHandler(function (template) {
        setContent(template, Paths[2]);
    }).navigate(Paths[2]);
})();
</script>
  </body>
</html>